body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  
  
  img {
    display: block;
    margin: 0 auto;
    max-width: 20%;
    height: auto;
    margin-top: 20px;
    position: center;
    right: 0;
    top: 0;
  }


  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 190px;
    background-color:#a8dadc;
    text-align: center;
    position: relative;
    
}

.header h1 {
    background-color:#A8DADC;
    padding-left: 70px;
    padding-right: 10px;
    position: absolute;
    left: 34%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 4px;
    font-size: 75px;
}

nav{
    height: 50px;
    font-weight: 100%;
    background-color:#f1faee;
    display: flex;
    justify-content: center; 
    align-items: center; 


}

main{
    
    height: 100%;
    position: relative;
}

.main p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.block1 {
    width: 90%;
    padding: 20px;
    background-color: #f4f4f4; 
    border: 1px solid #ccc; 
    position: relative;
    margin: 60px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.block1:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(2, 110, 150, 0.318);
    
}

.block2 {
    width: 90%;
    padding: 20px;
    background-color: #f4f4f4; 
    border: 1px solid #ccc; 
    position: relative;
    margin: 60px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.block2:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(2, 110, 150, 0.318);
    
}

.block3 {
    width: 90%;
    padding: 20px;
    background-color: #f4f4f4; 
    border: 1px solid #ccc; 
    position: relative;
    margin: 60px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.block3:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(2, 110, 150, 0.318);
    
}

.block4 {
    width: 90%;
    padding: 20px;
    background-color: #f4f4f4; 
    border: 1px solid #ccc; 
    position: relative;
    margin: 60px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.block4:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(2, 110, 150, 0.318);
    
}

.block5 {
    width: 90%;
    padding: 20px;
    background-color: #f4f4f4; 
    border: 1px solid #ccc; 
    position: relative;
    margin: 60px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.block5:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(2, 110, 150, 0.318);
    
}

aside{
    background-color: #0b46ae;
    position: absolute;
    right: 0;
    width: 49%;
    height: 100%;
    top: 0;
   
}

article{
    background-color: rgb(175, 149, 200);
    height: 100%;
    position: absolute;
    width: 49%;
}

footer{

    background-color: brown;
    margin: 7px;
}

.botones{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    
}

.botones a{
    color: #000000; 
    font-weight: bold; 
    padding: 10px 20px; 
    text-decoration: none;
    border-bottom: 2px solid transparent; 
    transition: color 0.3s ease, border-color 0.3s ease;
    color: #000000; 
    font-weight: bold; 
    padding: 10px 20px; 
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 5px; 
    position: relative; 
    transition: color 0.3s ease, border-color 0.3s ease; 
}

.botones a:hover {
    color: #000000; 
    border-color: #000000; 
    background-color: rgba(0, 182, 212, 0.2); 
     }

.botones a::after {
    content: '';
    position: absolute; 
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px; 
    background-color: #a8dadc; 
    transition: width 0.3s ease, left 0.3s ease; 
}

.botones a:hover::after {
    width: 100%;
    left: 0; 
}




.subir{
    position: fixed;
    background-color: rgb(188, 165, 209);
    bottom: 0%;
    cursor: pointer;
    font-size: 15px;

}

.logo {
    height: 100px;
    width: 100px;
    margin-right: 70px;
    border-radius: 100%;
    top: 10%;
    position: absolute;
}

.image-container1 img {
    width: 250px; 
    height: 220px;
    position: absolute;
    margin-top: 20px;
    margin-right: 77%;
}

.image-container2 img {
    width: 150px; 
    height:180px;
    position: absolute;
    margin-top: 15px;
    margin-right: 81%;
   
}

.image-container3 img {
    width: 250px; 
    height:190px;
    position: absolute;
    margin-top: 15px;
    margin-right: 77%;
   
}

.image-container4 img {
    width: 170px; 
    height:180px;
    position: absolute;
    margin-top: 25px;
    margin-right: 80%;
   
}

.image-container5 img {
    width: 185px; 
    height:170px;
    position: absolute;
    margin-top: 30px;
    margin-right: 79%;
   
}


.text-container {
    max-width: 800px; 
    font-size: 16px;
    color: #555; 
    margin-left: 24%;
    position: relative;
    
}

.text-container h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333; /* Color del título */
}



.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 30px;
   
    
  }

  footer {
    background-color:#a8dadc;
    padding: 10px;
    text-align: center;
    margin: 0;
    margin-top: 60px;
    
}

.footer-content {
    max-width: 1200px; 
    margin: 0 auto; 
}

.social-media {
    list-style: none; 
    padding: 0; 
    display: flex; 
    justify-content: center; 
}



.social-media img {
    width: 160px; 
    height: auto; 
    transition: transform 0.2s;
}

.social-media img:hover {
    transform: scale(1.4); 
}